*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10;
	line-height: 2;
	color: #000;
}
.over{
	overflow: hidden;
}
.templete{
	width: 1000px;
	margin: 0 auto;
}
.Home {
  float: right;
  margin-top: 41px;
  width: 200px;
}
.Home a {
  color: white;
  text-decoration: none;
}
.Home a:hover{
  color: red;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  transition: 0.5s ease;
}
.headertitle{
	height: 120px;
	background: #D66F3D;
	border-bottom: 5px solid red;
}
.headertitle_icon{
	width: fill-content;
	height: fill-content;
	float: left;
}
.headertitle_icon img {
    margin: 10px;
    margin-left: 30px;
}
input[type=text],[type=email],[type=phone],[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.login_form {
  background-color: #dbad79;
}
.image{
	float: left;
	align-content: center;
	margin: 100px;
}

.maincontainer {
  float: right;
  height: auto;
  width: 470px;
  margin: 49px 24px;
}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    align-content: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
.footer{
	height: 100px;
	background: #D66F3D; 
}
.footer .reserved{
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}
.footer .credit{
	float: right;
	margin-top: 15px;
	text-align: center;
	padding: 10px;
}